<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width">
</head>

<body>
  <link rel="stylesheet" href="https://chat-app-socketio-node.herokuapp.com/stylesheets/style.css">
  <h1 class="header-text">My Chat Application</h1>
  <h2 class="welcome-text"></h2>
  <p class="typing-info"></p>
  <div class="chat-box">
    <div class="chat-list">
    </div>
    <div class="text-control ">
      <input type="text" name="text" class="input-msg" />
      <button type="button" onclick="sendMessage()" class="btn btn-primary send-btn">Send</button>
    </div>
  </div>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="https://chat-app-socketio-node.herokuapp.com/chat.js"></script>


</body>

</html>