body {
  padding: 10px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
.header-text {
  text-align: center;
}
a {
  color: #00b7ff;
}
.text-control {
  position: fixed;
  bottom: 0;
  width: calc(100% - 20px);
  padding: 20px 0;
}
.text-control input {
  border: 1px solid black;
  width: 100%;
  padding: 5px;
}

.chat-box {
  position: relative;
}
.chat-list {
  overflow-y: scroll;
  height: calc(100vh - 250px);
}
.outgoing {
  background-color: #daf7a6;
  margin: 10px;
  font-size: 24px;
  width: 60%;
  padding: 10px;
  border-radius: 10px;
  clear: both;
}
.incoming {
  background-color: #ffc300;
  text-align: right;
  margin: 10px;
  font-size: 24px;
  width: 60%;
  float: right;
  padding: 10px;
  border-radius: 10px;
  clear: both;
}
.send-btn {
  width: 100%;
  margin-top: 10px;
}
.text {
  font-size: 18px;
}
